black == 26.3.1
blacken-docs == 1.19.1
chardet
charset_normalizer <= 3.4.4
click == 8.2.0
codespell == 2.4.1
coverage
dulwich
flake8
gitpython
isort
mccabe
mkdocs
mkdocs-material
mkdocstrings-python
myst-parser
pre-commit
pyfiglet
pyinstaller == 6.13.0
pylint
pytest
pytest-cov
pyupgrade
rich
toml == 0.10.2
types-toml == 0.10.8.20240310
